@import '../../styles/buttons.css';

* body {
  margin: 0;
  border: 0;
}

.fab {
  color: white;
}

:root {
  --light-yellow: #FEFFEF;
  --light-brown: #FFC883;
  --black: #000000;
  --coder-yellow: #FEFFEF;
  --sci-blue: #AEE9FE;
  --edu-salmon: #FECFCB;
  --brown: #4C2A05;
}


.outer-container {
  width: 100vw;
  height: 100vh;
  background: url(../../pics/landing_page_final.jpg);
  background-position: center;
  background-size: cover; 
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.right-box {
  width: 85%;
  height: 80%;
  background:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* rhs sidebar nav */
.sidenav {
  height: 80%; 
  width: 15%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  /* background: red; */
  height: 75%;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.linksextra {
  /* background: blue; */
  width: 40px;
  height: 25%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: flex-end;
  /* background: red; */
}

/* links to linkedin and github */
.nav-box {
  height: 50px;
  width: 40px;
  /* background: red; */
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
  align-items: top;
}

.content {
  width: 90%;
  height: 90%;
  /* background: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* next three divs are within content */

.title {
  width: 80%;
  height: 15%;
  /* background: red; */
  font-family: 'Merriweather', serif;
  padding: 0px 0px 0px 10px;
  font-style: italic;
  color: #128756;
}

h1 {
  margin:0;
  font-size: 72px;
} 

.blurb {
  width: 80%;
  height: 20%;
  /* background: purple; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 0px 0px;
  border-bottom: 2px solid gray;
  margin: 0px 0px 10px 0px;
}

.skill {
  width: 80%;
  height: 70%;
  /* background: black; */
  display: flex;
  justify-content: space-evenly;
}

/* next three divs are within skill */

.coder {
  width: 30%;
  height: 100%;
  background:var(--coder-yellow);
  font-family: 'Montserrat', sans-serif; 
  font-size: 24 px;
  padding: 0px 5px;
  font-style: italic;
}

.coder p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.scientist {
  width: 30%;
  height: 100%;
  background:var(--sci-blue);
  font-family: 'Montserrat', sans-serif; 
  font-size: 24 px;
  padding: 0px 5px;
  font-style: italic;
}
.scientist p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.edu {
  width: 30%;
  height: 100%;
  background: var(--edu-salmon);
  font-family: 'Montserrat', sans-serif; 
  font-size: 24 px;
  padding: 0px 5px;
  font-style: italic;
}
.edu p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.lower p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
.skill {
  flex-direction: column;
  height: 50%;
}

.coder {
  width: 100%;
  font-size: 16px;
  font-weight: bold;

}

.coder p {
  font-size: 14px;
  font-weight: normal;

}

.scientist {
  width: 100%;
}
.edu {
  width: 100%;
}

.blurb {
  height: 100%;
  font-size: 14px;
}

.title {
  height: 8%;
}

h1 {
  margin:0;
  font-size: 34px;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-box {
  height: 93%;
  flex-direction: column;
}

.sidenav {
  height: 350px; 
  width: 23%; 
}

.links {
  height: 270px;
}

.linksextra {
  height:10%;
  padding: 0px 10px;
}

.outer-container {
  height: auto;
  /* flex-direction: row-reverse; */
  align-items: flex-start
}

}

