@import '../../styles/buttons.css';

* body {
  margin: 0;
  border: 0;
}

.fab {
  color: white;
}
:root {
  --light-yellow: #FEFFEF;
  --light-brown: #FFC883;
  --black: #000000;
}

/* most outer container */
.outer-container {
  width: 100vw;
  height: 100vh;
  /* background: pink; */
  display: flex;
  flex-flow: column;
}

/* top div */
.top-container {
  height: 20%;
  width: 100%;
  background: url(../../pics/about_me.JPG);
  background-position: center;
  background-size: cover; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* links to linkedin and github */
.nav-box {
  height: 50px;
  width: 40px;
  /* background: red; */
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: top;
}

/* main container */
.main-container {
  /* background: red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 90%;
  height: 500px;
  /* background: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* upper contains title and image */
.upper {
  width: 70%;
  height: 30%;
  /* background: black; */
  display: flex;
  align-items: center;
}

.title {
  width: 80%;
  height: 80%;
  /* background: green; */
  font-family: 'Merriweather', serif;
  font-size: 72px;
  padding: 0px 0px 0px 10px;
  font-style: italic;
  display: flex;
  align-items: center
}

.image {
  width: 30%;
  height: 100%;
  background: url(../../pics/rob_pic2.png);
  background-position: right;
  background-size: contain; 
  background-repeat: no-repeat;
}

.lower {
  width: 70%;
  height: 70%;
  /* background:purple; */
  text-align: justify;
  border-top: 2px solid gray;
  margin: 10px 0px 0px 0px;
}

.lower p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* rhs sidebar nav */
.sidenav {
  height: 100%; 
  width: 10%; 
  background: url(../../pics/about_me2.jpg);
  background-position: center;
  background-size: cover;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.links {
  /* background: red; */
  height: 75%;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.linksextra {
  /* background: blue; */
  width: 40px;
  height: 25%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: flex-end;
  /* background: red; */
}

