@import '../../styles/buttons.css';

* body {
  margin: 0;
  border: 0;
}

.fab {
  color: white;
}
:root {
  --light-yellow: #FEFFEF;
  --light-brown: #FFC883;
  --black: #000000;
  --brown: #4C2A05;
}

/* most outer container */
.outer-container {
  width: 100vw;
  height: 100vh;
  /* background: pink; */
  display: flex;
  background: url(../../pics/landing_page_final.jpg);
  background-position: center;
  background-size: cover;
  justify-content: flex-start;
  align-items: flex-end;


}

/* top div */
/* .top-container {
  height: 20%;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center; */
/* } */


/* links to linkedin and github */
.nav-box {
  height: 50px;
  width: 20px;
  /* background: red; */
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: top;
}

/* rhs sidebar nav */
.sidenav {
  height: 80%; 
  width: 15%; 
  /* background: url(../../pics/about_me2.jpg);
  background-position: center;
  background-size: cover; */
  /* background-color: #111; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.links {
  /* background: red; */
  height: 75%;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.right-box {
  width: 85%;
  height: 80%;
  background:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksextra {
  /* background: blue; */
  width: 40px;
  height: 25%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: flex-end;
  /* background: red; */
}

.content {
  width: 90%;
  height: 90%;
  /* background: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* upper contains title and image */
.upper {
  width: 70%;
  height: 30%;
  /* background: black; */
  display: flex;
  align-items: center;
}

.title {
  width: 80%;
  height: 80%;
  /* background: green; */
  font-family: 'Merriweather', serif;
  font-size: 72px;
  padding: 0px 0px 0px 10px;
  font-style: italic;
  display: flex;
  align-items: center;
  color: #128756;
}

.image {
  width: 30%;
  height: 100%;
  background: url(../../pics/rob_pic2.png);
  background-position: right;
  background-size: contain; 
  background-repeat: no-repeat;
}

.lower {
  width: 70%;
  height: 50%;
  /* background:purple; */
  text-align: justify;
  border-top: 2px solid gray;
  margin: 10px 0px 0px 0px;
}

.lower p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
  .right-box {
    height: 95%;
  }
  .title {
    font-size: 58px;
  }
  
  .lower {
    height: 70%;
  }

  .upper {
    width: 70%;
    height: 27%;
    /* background: black; */
    display: flex;
    align-items: center;
  }

}


@media only screen and (max-width: 900px) and (min-width: 700px) {
  .right-box {
    height: 90%;
  }
  .title {
    font-size: 58px;
  }
  
  .lower {
    height: 70%;
  }

  .upper {
    width: 70%;
    height: 27%;
    /* background: black; */
    display: flex;
    align-items: center;
  }

}


@media only screen and (max-width: 700px) {

  .title {
    font-size: 30px;
  }

  .lower {
    width: 90%;
    height: 90%;
  }
  
  .lower p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

  .image {
    width: 30%;
    height: 100%;
    background: url(../../pics/rob_pic2.png);
    background-position: right;
    background-size: cover; 
    background-repeat: no-repeat;
  }
  .right-box {
    width: 85%;
    height: 100%;
    }
  .upper {
    width: 90%;
    height: 16%;
  }

  .sidenav {
    height: 100%; 
    width: 23%; 
  }
  .linksextra {
    height:10%;
    padding: 0px 10px;
  }

  .links {
    height: 270px;
  }

}
