

.about-me {
  width: 100px;
  color: var(--light-yellow);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
}

.about-me:hover {
  background: var(--light-yellow);
  color: black;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0px;
  text-decoration: none;
}

.skills {
  width: 100px;
  color: var(--light-yellow);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
}

.skills:hover {
  background: var(--light-yellow);
  color: black;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0px;
  text-decoration: none;
}

.projects {
  width: 100px;
  color: var(--light-yellow);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
}
.projects:hover {
  background: var(--light-yellow);
  color: black;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0px;
  text-decoration: none;
}
.contact_me {
  width: 100px;
  color: var(--light-yellow);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
}

.contact_me:hover {
  background: var(--light-yellow);
  color: black;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0px;
  text-decoration: none;
}