

.about-me {
  width: 100px;
  color: var(--light-yellow);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 0px;
  transition: 0.3s;
}

.about-me:hover {
  background: var(--light-yellow);
  color: black;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0px;
  text-decoration: none;
}


.about-me2 {
  width: 100px;
  color: var(--light-yellow);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 0px;
  transition: 0.3s;
  background:var(--brown);
  border-radius: 50px;
}

.about-me2:hover {
  background: var(--light-yellow);
  color: black;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0px;
  text-decoration: none;
}


.skills {
  width: 100px;
  color: var(--light-yellow);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 0px;
  transition: 0.3s;
}

.skills:hover {
  background: var(--light-yellow);
  color: black;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0px;
  text-decoration: none;
}

.skills2 {
  width: 100px;
  color: var(--light-yellow);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 0px;
  transition: 0.3s;
  background: var(--brown);
  border-radius: 50px;
}

.skills2:hover {
  background: var(--light-yellow);
  color: black;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0px;
  text-decoration: none;
}

.projects {
  width: 100px;
  color: var(--light-yellow);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 0px;
  transition: 0.3s;
}
.projects:hover {
  background: var(--light-yellow);
  color: black;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0px;
  text-decoration: none;
}

.projects2 {
  width: 100px;
  color: var(--light-yellow);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 0px;
  transition: 0.3s;
  background: var(--brown);
  border-radius: 50px;
}
.projects2:hover {
  background: var(--light-yellow);
  color: black;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0px;
  text-decoration: none;
}

.contact_me {
  width: 100px;
  color: var(--light-yellow);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 0px;
  transition: 0.3s;
}

.contact_me:hover {
  background: var(--light-yellow);
  color: black;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0px;
  text-decoration: none;
}

.contact_me2 {
  width: 100px;
  color: var(--light-yellow);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 0px;
  transition: 0.3s;
  background: var(--brown);
  border-radius: 50px;
}

.contact_me2:hover {
  background: var(--light-yellow);
  color: black;
  font-size: 15px;
  border-radius: 50px;
  padding: 5px 0px;
  text-decoration: none;
  
}