@import "../../styles/buttons.css";

* body {
  margin: 0;
  border: 0;
}

.fab {
  color: white;
}

:root {
  --light-yellow: #feffef;
  --light-brown: #ffc883;
  --black: #000000;
  --coder-yellow: #feffef;
  --sci-blue: #aee9fe;
  --edu-salmon: #fecfcb;
  --brown: #4c2a05;
  --h1: #4c2a05;
}

h1 {
  margin: 0;
  font-size: 58px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--h1);
}

h2 {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  color: white;
  font-size: 28px;
  font-weight: lighter;
}

h3 {
  margin: 0px;
  font-family: "Merriweather", serif;
  font-size: 16px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 10px 10px;
  font-weight: normal;
  line-height: 1.5;
}

ol {
  margin: 0px 20px 0px 0px;
}

li {
  margin: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.outer-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: url(../../pics/landing_page_final.jpg);
  background-position: center;
  background-size: cover;
  justify-content: flex-start;
  align-items: flex-end;
}

/* links to linkedin and github */
.nav-box {
  height: 50px;
  width: 40px;
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
  align-items: top;
}

/* main container */
.main-container {
  width: 85%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty {
  background: white;
  height: 100%;
  width: 5%;
  display: none;
}

/* rhs sidebar nav */
.sidenav {
  height: 80%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}

.links {
  /* background: red; */
  height: 75%;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.linksextra {
  /* background: blue; */
  width: 40px;
  height: 25%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: flex-end;
  /* background: red; */
}

.title {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #fff7ef, #ffffff);
}

.text {
  width: 85%;
  height: 15%;
  font-size: 72px;
  padding: 0px 0px;
  font-style: italic;
  text-align: left;
  color: #128756;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-boxes {
  height: 90%;
  width: 90%;
  display: flex;
}

.project1 {
  width: 33%;
  height: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.image-project1 {
  width: 95%;
  height: 200px;
  background: white;
  border: 1px solid black;
  background-image: url(../../pics/projects_1.png);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
/* experimental */
/* .image-project1:hover {
  width: 400px;
  height: 800px;
  background: white;
  border: 1px solid black;
  background-image: url(../../pics/projects_1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} */

.text-project1 {
  width: 350px;
  height: 80%;
  background: #ecebf5;
}

.text-heading1 {
  background: #09054c;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-project1 p {
  color: black;
  font-size: 14px;
  text-align: justify;
}

.project2 {
  width: 33%;
  height: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.image-project2 {
  width: 95%;
  height: 200px;
  background: white;
  border: 1px solid black;
  background-image: url(../../pics/landing_page_smaller_res.jpg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.text-project2 {
  width: 350px;
  height: 80%;
  background: #f7d7f4;
}

.text-project2 p {
  color: black;
  font-size: 14px;
  text-align: justify;
}

.text-heading2 {
  background: #4c0548;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project3 {
  width: 33%;
  height: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.image-project3 {
  width: 95%;
  height: 200px;
  background: white;
  border: 1px solid black;
  background-image: url(../../pics/looking_forward.jpg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.text-project3 {
  width: 350px;
  height: 80%;
  background: #f7fadc;
}
.text-project3 p {
  color: black;
  font-size: 14px;
  text-align: justify;
}
.text-heading3 {
  background: #484c05;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1400px) and (min-width: 700px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 20px;
  }

  .project1,
  .project2,
  .project3 {
    height: 95%;
  }  

  .image-project1,
  .image-project2,
  .image-project3 {
    width: 95%;
    height: 150px;
  }

  .text-project1,
  .text-project2,
  .text-project3 {
    width: 90%;
    height: 80%;
  }
 
  .text-display1 {
    height: 80%;
  }

  .text-project1,
  .text-project2,
  .text-project3 p {
    font-size: 12px;
  }

  li {
    margin: 6px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 800px) and (orientation: landscape) {
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 48px;
    margin: 10px;
  }

  h2 {
    font-size: 20px;
  }

  .sidenav {
    height: 350px;
    width: 23%;
    align-self: flex-start;
  }

  .links {
    height: 270px;
  }

  .linksextra {
    height: 10%;
    padding: 0px 10px;
  }

  .outer-container {
    height: auto;
  }

  .title {
    /* height: 93%; */
    width: 95%;
    /* flex-direction: column; */
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .project-boxes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .empty {
    display: none;
  }
  .project1,
  .project2,
  .project3 {
    width: 95%;
    margin: 20px 0px;
  }
  
  .image-project1,
  .image-project2,
  .image-project3 {
    height: 150px;
    width: 95%;
  }

}

.text-project1,
.text-project2,
.text-project3 {
  width: 95%;
  height: 80%;
}

